@import "../../../../style/style.scss";

.hackathon-list-page {
    min-height: 100vh;
    background-color: #f6f6f6 !important;
    margin-top: 56px;

    .hackathon-list-content {
        padding: 40px 32px 0;
        background-color: $white-color;

        button.manage-hkt-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .hackathon-table-container {
            background-color: $secondary-surface !important;
            border: 1px solid #f6f6f6;
            padding: 24px;

            .hackathon-table {
                .ant-table {
                    background-color: $secondary-surface;
                    table {
                        border-spacing: 0 24px!important;
                        tr {
                            background-color: $white-color !important;
                        }
                        p {
                            margin: 0 !important;
            
                            &.desc-time {
                                margin-right: 20px !important;
                            }
                        }
                        button.status-btn {
                            background-color: rgb(255, 82, 82);
                            padding: 4px 8px;
                            border: none !important;
                            border-radius: 4px;
                            color: $white-color;
                        }
                        a.action-btn {
                            background-color: transparent;
                            border: none !important;
                            outline: none !important;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

    }
}