@import "../../../style/style.scss";


.smart-contracts {
    width: 100%;
    height: auto;
    padding: 140px 0;
    background: rgba(8,10,37,.05);


    .infrastructure-img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}