@import "../../../style/style.scss";

.sign-in-page {
    min-height: 70vh;
    padding-top: 78px;
    padding-bottom: 24px;
    width: 100%;
    background-color: #f6f6f6;
    .sign-in-left {
        .description {
            position: relative;
            padding-left: 18px;
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                background: rgba(8, 10, 37, 0.08);
                border-radius: 6px;
                width: 7px;
                height: 95%;
            }
            p {
                @include textStyle($poppins, normal, 18px, rgba(8, 10, 37, 0.6), 400, null, null);
            }
        }
        h2 {
            @include textStyle($poppins, normal, 32px, rgba(8, 10, 37, 0.6), 300, null, null);
        }

        h2 {

        }
    }

    .log-in-card {
        height: 100%;
        background: $white-color;
        border: 1px solid rgba(8, 10, 37, 0.1);
        box-shadow: rgba(19, 23, 32, 0.05) 20px 50px 50px;
        border-radius: 12px;
        padding: 56px 60px;
    }
    .sign-in-action > *{
        color: rgba(8,10,37,.5);
        font-weight: 400;
    }
    button.auth-github {
        width: 100%;
        background: #f9f9f9!important;
        color: $text-dark !important;
        border: 1px solid rgba(8,10,37,.2)!important;
        border: 1px solid rgba(46,46,46,.2);
        box-shadow: none !important;
        
        svg {
            display: block;
            width: 20px;
            height: 100%;
        }
    }
}