@import "../../style/style.scss";


.setting-page {
    margin-top: 56px;
    margin-bottom: 56px;
    .setting-left {
        ul.settings-list {
            li {
                cursor: pointer;
                border-left: 2px solid #e1e2e2;
                padding: 6px 12px;
                font-size: 16px;
                &.active {
                    background-color: #e1e2e2;
                    color: var(--text-dark);
                    border-left: 2px solid $link-color;
                    font-weight: 600;
                }
            }
        }
    }

    .setting-right {
        .profile-info {
            padding: 32px;
            margin-top: -32px;
            background-color: $white-color;

            button.cancel-profile-btn {
                border-radius: 4px;
            }
        }
        .preferences {
            padding: 32px;
            margin-top: -32px;
            background-color: $white-color;

            label.job-radio-btn {

            }

        }

        .email-section {
            padding: 32px;
            margin-top: -32px;
            background-color: $white-color;
        }

        .account-section {
            padding: 32px;
            margin-top: -32px;
            background-color: $white-color;

            ul.privacy-list {
                list-style: disc;
                padding-left: 40px;
                // li::marker {
                //     color: red;
                //     font-size: 1.5em;
                // }
                li {
                    // color: 
                    font-size: 12px;
                    opacity: 0.7;
                }
            }
        }

        .password-section {
            padding: 32px;
            margin-top: -32px;
            background-color: $white-color;
        }
    }
}