.hkt-header-section {

    .upload-hktHeaderlogo {
        width: 100% !important;
        .ant-upload.ant-upload-drag {
            width: 100% !important;
        }
    }

    .ant-upload-list.ant-upload-list-picture-card {
        width: 100% !important;
        height: 201px !important;
    }
}